In [95]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [96]:
df=pd.read_csv('/content/LoanExport.csv')

<ipython-input-96-44c4310d8641>:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/content/LoanExport.csv')

In [97]:
df.head()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,199902,N,202901,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0,0,52
1,0,199902,N,202901,19740,0,1,O,73,17,...,80200,F199Q1015092,N,360,1,FT,CHASEHOMEFINANCELLC,0,0,144
2,0,199902,N,202901,29940,0,1,O,75,16,...,66000,F199Q1266886,N,360,2,FL,WASHINGTONMUTUALBANK,0,0,67
3,0,199902,N,202901,31084,0,1,O,76,14,...,90700,F199Q1178167,N,360,2,GM,GMACMTGECORP,0,0,35
4,0,199902,N,202901,35644,0,1,O,78,18,...,7600,F199Q1178517,N,360,2,GM,GMACMTGECORP,0,0,54

In [98]:
df.describe()

,CreditScore,FirstPaymentDate,MaturityDate,MIP,Units,OCLTV,DTI,OrigUPB,LTV,OrigInterestRate,OrigLoanTerm,EverDelinquent,MonthsDelinquent,MonthsInRepayment
count,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000
mean,708.936991,199904.760553,202902.367043,9.216685,1.026022,76.960529,30.033453,124940.387921,76.937986,6.926547,359.835375,0.197848,1.837729,60.805291
std,68.408791,13.821228,16.090508,12.648273,0.202986,15.236154,13.203974,53657.440624,15.225298,0.343541,2.286939,0.398378,8.809392,46.142599
min,0.000000,199901.000000,202402.000000,0.000000,0.000000,0.000000,0.000000,8000.000000,0.000000,4.000000,301.000000,0.000000,0.000000,1.000000
25%,675.000000,199903.000000,202902.000000,0.000000,1.000000,70.000000,22.000000,83000.000000,70.000000,6.750000,360.000000,0.000000,0.000000,34.000000
50%,717.000000,199904.000000,202903.000000,0.000000,1.000000,80.000000,31.000000,117000.000000,80.000000,6.875000,360.000000,0.000000,0.000000,48.000000
75%,753.000000,199905.000000,202904.000000,25.000000,1.000000,90.000000,39.000000,160000.000000,90.000000,7.125000,360.000000,0.000000,0.000000,63.000000
max,849.000000,201303.000000,204302.000000,55.000000,4.000000,110.000000,65.000000,497000.000000,103.000000,12.350000,361.000000,1.000000,180.000000,212.000000

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291451 entries, 0 to 291450
Data columns (total 28 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CreditScore         291451 non-null  int64
 1   FirstPaymentDate    291451 non-null  int64
 2   FirstTimeHomebuyer  291451 non-null  object
 3   MaturityDate        291451 non-null  int64
 4   MSA                 291451 non-null  object
 5   MIP                 291451 non-null  int64
 6   Units               291451 non-null  int64
 7   Occupancy           291451 non-null  object
 8   OCLTV               291451 non-null  int64
 9   DTI                 291451 non-null  int64
 10  OrigUPB             291451 non-null  int64
 11  LTV                 291451 non-null  int64
 12  OrigInterestRate    291451 non-null  float64
 13  Channel             291451 non-null  object
 14  PPM                 291451 non-null  object
 15  ProductType         291451 non-null  object
 16  PropertyState       291451 non-null  object
 17  PropertyType        291451 non-null  object
 18  PostalCode          291451 non-null  object
 19  LoanSeqNum          291451 non-null  object
 20  LoanPurpose         291451 non-null  object
 21  OrigLoanTerm        291451 non-null  int64
 22  NumBorrowers        291451 non-null  object
 23  SellerName          266457 non-null  object
 24  ServicerName        291451 non-null  object
 25  EverDelinquent      291451 non-null  int64
 26  MonthsDelinquent    291451 non-null  int64
 27  MonthsInRepayment   291451 non-null  int64
dtypes: float64(1), int64(13), object(14)
memory usage: 62.3+ MB

In [70]:
#  find all null values and print only null value

null_values = df.isnull().sum()
null_values

CreditScore               0
FirstPaymentDate          0
FirstTimeHomebuyer        0
MaturityDate              0
MSA                       0
MIP                       0
Units                     0
Occupancy                 0
OCLTV                     0
DTI                       0
OrigUPB                   0
LTV                       0
OrigInterestRate          0
Channel                   0
PPM                       0
ProductType               0
PropertyState             0
PropertyType              0
PostalCode                0
LoanSeqNum                0
LoanPurpose               0
OrigLoanTerm              0
NumBorrowers              0
SellerName            24994
ServicerName              0
EverDelinquent            0
MonthsDelinquent          0
MonthsInRepayment         0
dtype: int64

In [71]:
print(null_values[null_values > 0])

SellerName    24994
dtype: int64

In [72]:
# drop null value row
df.dropna(inplace=True)

In [73]:
# now again check null values
null_values = df.isnull().sum()
null_values

CreditScore           0
FirstPaymentDate      0
FirstTimeHomebuyer    0
MaturityDate          0
MSA                   0
MIP                   0
Units                 0
Occupancy             0
OCLTV                 0
DTI                   0
OrigUPB               0
LTV                   0
OrigInterestRate      0
Channel               0
PPM                   0
ProductType           0
PropertyState         0
PropertyType          0
PostalCode            0
LoanSeqNum            0
LoanPurpose           0
OrigLoanTerm          0
NumBorrowers          0
SellerName            0
ServicerName          0
EverDelinquent        0
MonthsDelinquent      0
MonthsInRepayment     0
dtype: int64

In [74]:
# Attempt to convert to datetime, handling errors
df['FirstPaymentDate'] = pd.to_datetime(df['FirstPaymentDate'], format="%m%y", errors='coerce')
df['MaturityDate'] = pd.to_datetime(df['MaturityDate'], format='%m%y', errors='coerce')

# Check for invalid dates (NaT) after conversion
print(df[df['FirstPaymentDate'].isnull()])
print(df[df['MaturityDate'].isnull()])

        CreditScore FirstPaymentDate FirstTimeHomebuyer MaturityDate    MSA  \
0                 0              NaT                  N          NaT  16974
1                 0              NaT                  N          NaT  19740
2                 0              NaT                  N          NaT  29940
3                 0              NaT                  N          NaT  31084
4                 0              NaT                  N          NaT  35644
...             ...              ...                ...          ...    ...
291446          839              NaT                  N          NaT  37964
291447          840              NaT                  N          NaT  35644
291448          840              NaT                  N          NaT  42044
291449          845              NaT                  N          NaT  37964
291450          849              NaT                  N          NaT  37964

        MIP  Units Occupancy  OCLTV  DTI  ...  PostalCode    LoanSeqNum  \
0        25      1         O     89   27  ...       60400  F199Q1268030
1         0      1         O     73   17  ...       80200  F199Q1015092
2         0      1         O     75   16  ...       66000  F199Q1266886
3         0      1         O     76   14  ...       90700  F199Q1178167
4         0      1         O     78   18  ...        7600  F199Q1178517
...     ...    ...       ...    ...  ...  ...         ...           ...
291446    0      1         O     60   32  ...       19400  F199Q1220925
291447    0      1         O     73    0  ...       11600  F199Q1401332
291448    0      1         O     73   31  ...       92800  F199Q1401282
291449    0      1         I     80   54  ...       19300  F199Q1220924
291450    0      1         O     47   29  ...       18900  F199Q1220923

        LoanPurpose OrigLoanTerm NumBorrowers SellerName  \
0                 P          360            2         FL
1                 N          360            1         FT
2                 N          360            2         FL
3                 N          360            2         GM
4                 N          360            2         GM
...             ...          ...          ...        ...
291446            N          360            2         Ot
291447            P          319            2         Ot
291448            N          313            1         Ot
291449            P          360            2         Ot
291450            P          360            2         Ot

                ServicerName EverDelinquent MonthsDelinquent MonthsInRepayment
0       WASHINGTONMUTUALBANK              0                0                52
1       CHASEHOMEFINANCELLC               0                0               144
2       WASHINGTONMUTUALBANK              0                0                67
3       GMACMTGECORP                      0                0                35
4       GMACMTGECORP                      0                0                54
...                      ...            ...              ...               ...
291446  Other servicers                   0                0                12
291447  Other servicers                   0                0                53
291448  Other servicers                   0                0                38
291449  Other servicers                   0                0                32
291450  Other servicers                   0                0                29

[266457 rows x 28 columns]
        CreditScore FirstPaymentDate FirstTimeHomebuyer MaturityDate    MSA  \
0                 0              NaT                  N          NaT  16974
1                 0              NaT                  N          NaT  19740
2                 0              NaT                  N          NaT  29940
3                 0              NaT                  N          NaT  31084
4                 0              NaT                  N          NaT  35644
...             ...              ...                ...          ...    ...
291446          839              NaT                  N          NaT  37964
291447          840              NaT                  N          NaT  35644
291448          840              NaT                  N          NaT  42044
291449          845              NaT                  N          NaT  37964
291450          849              NaT                  N          NaT  37964

        MIP  Units Occupancy  OCLTV  DTI  ...  PostalCode    LoanSeqNum  \
0        25      1         O     89   27  ...       60400  F199Q1268030
1         0      1         O     73   17  ...       80200  F199Q1015092
2         0      1         O     75   16  ...       66000  F199Q1266886
3         0      1         O     76   14  ...       90700  F199Q1178167
4         0      1         O     78   18  ...        7600  F199Q1178517
...     ...    ...       ...    ...  ...  ...         ...           ...
291446    0      1         O     60   32  ...       19400  F199Q1220925
291447    0      1         O     73    0  ...       11600  F199Q1401332
291448    0      1         O     73   31  ...       92800  F199Q1401282
291449    0      1         I     80   54  ...       19300  F199Q1220924
291450    0      1         O     47   29  ...       18900  F199Q1220923

        LoanPurpose OrigLoanTerm NumBorrowers SellerName  \
0                 P          360            2         FL
1                 N          360            1         FT
2                 N          360            2         FL
3                 N          360            2         GM
4                 N          360            2         GM
...             ...          ...          ...        ...
291446            N          360            2         Ot
291447            P          319            2         Ot
291448            N          313            1         Ot
291449            P          360            2         Ot
291450            P          360            2         Ot

                ServicerName EverDelinquent MonthsDelinquent MonthsInRepayment
0       WASHINGTONMUTUALBANK              0                0                52
1       CHASEHOMEFINANCELLC               0                0               144
2       WASHINGTONMUTUALBANK              0                0                67
3       GMACMTGECORP                      0                0                35
4       GMACMTGECORP                      0                0                54
...                      ...            ...              ...               ...
291446  Other servicers                   0                0                12
291447  Other servicers                   0                0                53
291448  Other servicers                   0                0                38
291449  Other servicers                   0                0                32
291450  Other servicers                   0                0                29

[266457 rows x 28 columns]

In [75]:
df.head()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,NaT,N,NaT,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0,0,52
1,0,NaT,N,NaT,19740,0,1,O,73,17,...,80200,F199Q1015092,N,360,1,FT,CHASEHOMEFINANCELLC,0,0,144
2,0,NaT,N,NaT,29940,0,1,O,75,16,...,66000,F199Q1266886,N,360,2,FL,WASHINGTONMUTUALBANK,0,0,67
3,0,NaT,N,NaT,31084,0,1,O,76,14,...,90700,F199Q1178167,N,360,2,GM,GMACMTGECORP,0,0,35
4,0,NaT,N,NaT,35644,0,1,O,78,18,...,7600,F199Q1178517,N,360,2,GM,GMACMTGECORP,0,0,54

In [76]:
#find number of different element in each column

def count_unique_elements(df):
  """
  This function returns a dictionary containing the number of unique elements in each column of a dataframe.

  Args:
      df: The pandas dataframe.

  Returns:
      A dictionary with the column names as keys and the number of unique elements as values.
  """

  unique_counts = {}
  for column in df.columns:
    unique_counts[column] = df[column].nunique()
  return unique_counts

unique_counts = count_unique_elements(df)

for column, count in unique_counts.items():
  print(f"Column: {column}, Unique elements: {count}")

Column: CreditScore, Unique elements: 368
Column: FirstPaymentDate, Unique elements: 0
Column: FirstTimeHomebuyer, Unique elements: 3
Column: MaturityDate, Unique elements: 0
Column: MSA, Unique elements: 392
Column: MIP, Unique elements: 36
Column: Units, Unique elements: 5
Column: Occupancy, Unique elements: 3
Column: OCLTV, Unique elements: 102
Column: DTI, Unique elements: 66
Column: OrigUPB, Unique elements: 368
Column: LTV, Unique elements: 97
Column: OrigInterestRate, Unique elements: 254
Column: Channel, Unique elements: 4
Column: PPM, Unique elements: 3
Column: ProductType, Unique elements: 1
Column: PropertyState, Unique elements: 53
Column: PropertyType, Unique elements: 7
Column: PostalCode, Unique elements: 1762
Column: LoanSeqNum, Unique elements: 266457
Column: LoanPurpose, Unique elements: 3
Column: OrigLoanTerm, Unique elements: 61
Column: NumBorrowers, Unique elements: 3
Column: SellerName, Unique elements: 20
Column: ServicerName, Unique elements: 20
Column: EverDelinquent, Unique elements: 2
Column: MonthsDelinquent, Unique elements: 173
Column: MonthsInRepayment, Unique elements: 212

In [85]:
# Verify the column names in your DataFrame
print(df.columns)

# Assuming the column names are correct and present in the DataFrame, the following code should work:
df = pd.get_dummies(df, columns=['FirstTimeHomebuyer', 'Occupancy', 'LoanPurpose'], dtype=int)

Index(['CreditScore', 'FirstPaymentDate', 'FirstTimeHomebuyer', 'MaturityDate',
       'MSA', 'MIP', 'Units', 'Occupancy', 'OCLTV', 'DTI', 'OrigUPB', 'LTV',
       'OrigInterestRate', 'Channel', 'PPM', 'ProductType', 'PropertyState',
       'PropertyType', 'PostalCode', 'LoanSeqNum', 'LoanPurpose',
       'OrigLoanTerm', 'NumBorrowers', 'SellerName', 'ServicerName',
       'EverDelinquent', 'MonthsDelinquent', 'MonthsInRepayment'],
      dtype='object')

In [86]:
# since 'LoanSeqNum' is the unique for each row we will set it as a index
df = df.set_index('LoanSeqNum')

In [92]:
df.head()

,CreditScore,FirstPaymentDate,MaturityDate,MSA,MIP,Units,OCLTV,DTI,OrigUPB,LTV,...,MonthsInRepayment,FirstTimeHomebuyer_N,FirstTimeHomebuyer_X,FirstTimeHomebuyer_Y,Occupancy_I,Occupancy_O,Occupancy_S,LoanPurpose_C,LoanPurpose_N,LoanPurpose_P
LoanSeqNum,,,,,,,,,,,,,,,,,,,,,
F199Q1268030,0,199902,202901,16974,25,1,89,27,117000,89,...,52,1,0,0,0,1,0,0,0,1
F199Q1015092,0,199902,202901,19740,0,1,73,17,109000,73,...,144,1,0,0,0,1,0,0,1,0
F199Q1266886,0,199902,202901,29940,0,1,75,16,88000,75,...,67,1,0,0,0,1,0,0,1,0
F199Q1178167,0,199902,202901,31084,0,1,76,14,160000,76,...,35,1,0,0,0,1,0,0,1,0
F199Q1178517,0,199902,202901,35644,0,1,78,18,109000,78,...,54,1,0,0,0,1,0,0,1,0